In [1]:
import pandas as pd
from requests import get
from bs4 import BeautifulSoup
import os

# Exercises:

## 1. Codeup Blog Articles

- Visit [Codeup's Blog](https://codeup.com/blog/) and record the urls for at least 5 distinct blog posts. For each post, you should scrape at least the post's title and content.

- Encapsulate your work in a function named get_blog_articles that will return a list of dictionaries, with each dictionary representing one article. The shape of each dictionary should look like this:

{
    'title': 'the title of the article',
    'content': 'the full text content of the article'
}

In [2]:
#Setting the URL that I'm going to access:
url = 'https://codeup.com/data-science/jobs-after-a-coding-bootcamp-part-1-data-science/'
#
headers = {'User-Agent': 'Codeup Data Science'}
response = get(url, headers=headers)

In [3]:
#Verifying that the response is valid:
print(response.text[:500])

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="pingback" href="https://codeup.com/xmlrpc.php" />

	<script type="text/javascript">
		document.documentElement.className = 'js';
	</script>

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /><script id="diviarea-loader">window.DiviPopupData=window.DiviAreaConfig={"zIndex":1000000,"animateSpeed":400,"triggerClassPrefix":"show-popup-","idAttri

In [4]:
#Creating a beautiful soup object to contain the HTML information from the page:
soup = BeautifulSoup(response.content, 'html.parser')

In [5]:
#Getting the title of the article:
soup.title.string

'What Jobs Can You Get After a Coding Bootcamp?'

In [6]:
#Getting the content of the article by selecting everything with the 'entry-content' class designation:
soup.select(".entry-content")

[<div class="entry-content">
 <p><span style="font-weight: 400;">If you are interested in embarking on a career in tech, you’re probably wondering what your new job title could be, and even what your salary might look like.* </span><span style="font-weight: 400;">In this mini-series, we will take each of our programs here at Codeup: Data Science, Web Development, and Cloud Administration, and outline respectively potential job titles, as well as entry-level salaries. </span><span style="font-weight: 400;">Today we will be diving into our </span><a href="https://codeup.com/program/data-science/"><span style="font-weight: 400;">Data Science</span></a><span style="font-weight: 400;"> program, with four potential job titles you could take on!</span></p>
 <h2><b>Program Overview</b><span style="font-weight: 400;"> </span></h2>
 <p><span style="font-weight: 400;">During this 20-week program, you will have the opportunity to take your career to new heights with data science being one of the most needed jobs in tech. You’ll gather data, then clean it, explore it for trends, and apply machine learning models to make predictions.</span></p>
 <p><span style="font-weight: 400;">Upon completing this program, you will know how to turn insights into actionable recommendations. You’ll be a huge asset to any company, having all the technical skills to become a data scientist with projects upon projects of experience under your belt. </span></p>
 <h3><b></b><b>1. Data Scientist </b></h3>
 <p><span style="font-weight: 400;">Essentially, a Data Scientist is responsible for analyzing how a business performs to ensure the business stays competitive and relevant. They review the data for deeper meaning and examine it for patterns in an effort to create solutions to business problems. According to </span><a href="https://www.ziprecruiter.com/Salaries/Entry-Level-DATA-Scientist-Salary" rel="noopener" target="_blank"><span style="font-weight: 400;">Zip Recruiter</span></a><span style="font-weight: 400;">, the average entry-level salary for a Data Scientist in Texas is $60,677.</span><b></b></p>
 <h3><b>2. Data Analyst</b></h3>
 <p><span style="font-weight: 400;">A Data Analyst finds ways to solve a business’ problems through raw data analysis. They are then responsible for sharing this information with management and stakeholders. According to </span><a href="https://www.indeed.com/career/data-analyst/salaries/San-Antonio--TX" rel="noopener" target="_blank"><span style="font-weight: 400;">Indeed</span></a><span style="font-weight: 400;">, the average entry-level salary for a Data Analyst is $60,332.</span><b></b></p>
 <h3><b>3. Machine Learning Engineer </b></h3>
 <p><span style="font-weight: 400;">A Machine Learning (ML) Engineer is usually on a Data Science team. They are responsible for artificial intelligence, and its functions as well as making predictions on other machine learning capabilities. They will create ML prototypes and models, then test and retrain where necessary. According to </span><a href="https://www.salary.com/tools/salary-calculator/machine-learning-engineer/san-antonio-tx?yrs=0" rel="noopener" target="_blank"><span style="font-weight: 400;">Salary.com</span></a><span style="font-weight: 400;">, the average entry-level salary for a ML Engineer is $115,795.</span><b></b></p>
 <h3><b>4. Business Intelligence Analyst </b></h3>
 <p><span style="font-weight: 400;">A Business Intelligence Analyst, also known as a BI Analyst is responsible for understanding computer programming languages. Their primary goal is to give accurate insight to decision-makers regarding the market, productivity, competition, and customer responses. According to </span><a href="https://www.payscale.com/research/US/Job=Business_Intelligence_(BI)_Analyst/Salary/37381308/Entry-Level-San-Antonio-TX" rel="noopener" target="_blank"><span style="font-weight: 400;">Payscale</span></a><span style="font-weight: 400;">, the average entry-level salary for a BI Analyst is $58,627.</span></p>
 <p><span style="font-weight: 400;">We understand changing careers can be scary. If you chose Codeup, we will make sure you are plenty prepared to not only take on one of these roles but succeed in it. </span></p>
 <p><span style="font-weight: 400;">This program gives you more than a textbook and a bank of pre-recorded lectures. You get hands-on instruction from industry experts, along with the power to change your life. </span></p>
 <p><span style="font-weight: 400;">If you’re ready, </span><a href="https://codeup.com/apply-now/"><span style="font-weight: 400;">apply today</span></a><span style="font-weight: 400;"> and let’s turn your dreams into reality and get your seat secured in our next Data Science cohort. </span></p>
 <p> </p>
 <p><span style="font-weight: 400;">*Disclaimer: All information presented in this article is by no means guaranteed by completing a Codeup program. Salaries and duties vary based on factors such as company, location, and experience. These salaries are estimates based on San Antonio, TX data, and these duties are general and may not be exact for every position. </span></p>
 <p> </p>
 </div>]

In [7]:
def get_blog_articles(urls):
    codeup_articles = []
    article_info = {}
    for url in urls:
        headers = {'User-Agent': 'Codeup Data Science'}
        response = get(url, headers=headers)
        soup = BeautifulSoup(response.content, 'html.parser')
        title = soup.title.string
        contents = soup.select(".entry-content")
        article_info['url'] = f'{url}'
        article_info['title'] = f'{title}'
        article_info['contents'] = f'{contents}'
        codeup_articles.append(article_info)
    return codeup_articles

In [8]:
urls = ['https://codeup.com/data-science/jobs-after-a-coding-bootcamp-part-1-data-science/', 
        'https://codeup.com/featured/what-jobs-can-you-get-after-a-coding-bootcamp-part-2-cloud-administration/',
        'https://codeup.com/tips-for-prospective-students/is-our-cloud-administration-program-right-for-you/',
        'https://codeup.com/tips-for-prospective-students/mental-health-first-aid-training/',
        'https://codeup.com/codeup-news/inclusion-at-codeup-during-pride-month-and-always/']

codeup_articles = get_blog_articles(urls)

In [9]:
df = pd.DataFrame(codeup_articles)
df

,url,title,contents
0,https://codeup.com/codeup-news/inclusion-at-co...,Inclusion at Codeup During Pride Month (and Al...,"[<div class=""entry-content"">\n<p>Happy Pride M..."
1,https://codeup.com/codeup-news/inclusion-at-co...,Inclusion at Codeup During Pride Month (and Al...,"[<div class=""entry-content"">\n<p>Happy Pride M..."
2,https://codeup.com/codeup-news/inclusion-at-co...,Inclusion at Codeup During Pride Month (and Al...,"[<div class=""entry-content"">\n<p>Happy Pride M..."
3,https://codeup.com/codeup-news/inclusion-at-co...,Inclusion at Codeup During Pride Month (and Al...,"[<div class=""entry-content"">\n<p>Happy Pride M..."
4,https://codeup.com/codeup-news/inclusion-at-co...,Inclusion at Codeup During Pride Month (and Al...,"[<div class=""entry-content"">\n<p>Happy Pride M..."

## 2. News Articles:

- We will now be scraping text data from inshorts, a website that provides a brief overview of many different topics.

- Write a function that scrapes the news articles for the following topics:
    - Business
    - Sports
    - Technology
    - Entertainment

- The end product of this should be a function named get_news_articles that returns a list of dictionaries, where each dictionary has this shape:

{
    'title': 'The article title',
    'content': 'The article content',
    'category': 'business' # for example
}

Hints:
- a. Start by inspecting the website in your browser. Figure out which elements will be useful.
- b. Start by creating a function that handles a single article and produces a dictionary like the one above.
- c. Next create a function that will find all the articles on a single page and call the function you created in the last step for every article on the page.
- d. Now create a function that will use the previous two functions to scrape the articles from all the pages that you need, and do any additional processing that needs to be done.

In [10]:
#Setting the URL that I'm going to access:
url = 'https://inshorts.com/en/read'
#
headers = {'User-Agent': 'Codeup Data Science'}
response = get(url, headers=headers)

In [11]:
#Creating a beautiful soup object to contain the HTML information from the page:
soup = BeautifulSoup(response.content, 'html.parser')

In [12]:
title = soup.find_all(itemprop="headline")
content  = soup.find_all(itemprop="articleBody")

In [72]:
def get_shorts_articles(categories):
    
    #Creating an empty list to contain DataFrames of scraped data components:
    inshorts_articles = []
    #Establishing a for-loop to iterate through desired categories:
    for category in categories:
        #Creating an empty dataframe to store lists of article data components:
        article_info = pd.DataFrame()
        #Establishing baseline url and using format string to iterate through categories:
        url = f'https://inshorts.com/en/read/{category}'
        #Establishing header so it doesn't look like 'python-request':
        headers = {'User-Agent': 'Codeup Data Science'}
        #saving the response from the website:
        response = get(url, headers=headers)
        #Creating a beautiful soup object to contain the HTML information from the page:
        soup = BeautifulSoup(response.content, 'html.parser')
        # creating a list of all titles in the given category:
        titles = soup.find_all(itemprop = 'headline')
        #Creating a list of all article bodies in the given category
        contents = soup.find_all(itemprop = 'articleBody')
        #Adding 'title' column to DataFrame containing title text for each article:
        article_info['title'] = [title.text for title in titles]
        #Adding 'contents' column to DataFrame containing article body text for each article
        article_info['contents'] = [content.text for content in contents]
        #Adding 'category' column to list category for each article in the category:
        article_info['category'] = category
        #Appending DataFrame for each category to overall list of DataFrames:
        inshorts_articles.append(article_info)
    
    #Concatenating all of the DataFrames in the list to create one large DataFrame:
    inshorts_articles = pd.concat(inshorts_articles)
    #Returning final DataFrame:
    return inshorts_articles

In [ ]:
#Put after contents line if I want to use it:

 #for title, contents in zip(titles, contents):
            #article_info = {
                #'title': title,
                #'content': content, 
                #'category': category
            #}
        #article_info['url'] = f'{url}'

In [73]:
categories = ['business', 'sports', 'technology', 'entertainment']

inshorts_articles = get_shorts_articles(categories)

In [79]:
inshorts_articles

,title,contents,category
0,"Rupee edges closer to 80 per US dollar, opens ...",The rupee on Friday opened at a record low of ...,business
1,Rupee drops 9 paise to close at all-time low o...,The rupee declined by 9 paise to close at a ne...,business
2,Musk accused lawyers of causing trouble by see...,"In its lawsuit against Tesla CEO Elon Musk, Tw...",business
3,Elon has a real record of success: LinkedIn Co...,LinkedIn's billionaire Co-founder Reid Hoffman...,business
4,Twitter uses Musk's old poop reaction to CEO's...,Twitter has used Tesla CEO Elon Musk's poop re...,business
...,...,...,...
20,Most of the current actors have forgotten what...,Actor Sanjay Dutt said most of the current act...,entertainment
21,"KK's family calls his death 'worst pain', says...",Late singer KK's family has shared a note on h...,entertainment
22,I want to play negative characters like Thanos...,Actor Sanjay Dutt stated that he wants to play...,entertainment
23,I just wanted to act: Manish on being a succes...,Speaking about being successful after 20 years...,entertainment
24,My dad likes my films when I'm not remaking hi...,Actress Sara Ali Khan recently appeared on cel...,entertainment

In [80]:
inshorts_articles

,title,contents,category
0,"Rupee edges closer to 80 per US dollar, opens ...",The rupee on Friday opened at a record low of ...,business
1,Rupee drops 9 paise to close at all-time low o...,The rupee declined by 9 paise to close at a ne...,business
2,Musk accused lawyers of causing trouble by see...,"In its lawsuit against Tesla CEO Elon Musk, Tw...",business
3,Elon has a real record of success: LinkedIn Co...,LinkedIn's billionaire Co-founder Reid Hoffman...,business
4,Twitter uses Musk's old poop reaction to CEO's...,Twitter has used Tesla CEO Elon Musk's poop re...,business
...,...,...,...
20,Most of the current actors have forgotten what...,Actor Sanjay Dutt said most of the current act...,entertainment
21,"KK's family calls his death 'worst pain', says...",Late singer KK's family has shared a note on h...,entertainment
22,I want to play negative characters like Thanos...,Actor Sanjay Dutt stated that he wants to play...,entertainment
23,I just wanted to act: Manish on being a succes...,Speaking about being successful after 20 years...,entertainment
24,My dad likes my films when I'm not remaking hi...,Actress Sara Ali Khan recently appeared on cel...,entertainment

## 3. Bonus: cache the data

Write your code such that the acquired data is saved locally in some form or fashion. Your functions that retrieve the data should prefer to read the local data instead of having to make all the requests everytime the function is called. Include a boolean flag in the functions to allow the data to be acquired "fresh" from the actual sources (re-writing your local cache).