In [1]:
import re
import unicodedata
import pandas as pd
import nltk

from env import get_db_url
import prepare as pr

# Exercises:

## 1. Spam Data:

### a. Load the spam data set.

In [2]:
url = get_db_url('spam_db')
# Querying the database and saving output to a DataFrame:
df = pd.read_sql('SELECT * FROM spam;', url)

In [3]:
#Settig 'id' as the index for the DataFrame:
#df = df.set_index('id')
df.head()

   id label                                               text
0   0   ham  Go until jurong point, crazy.. Available only ...
1   1   ham                      Ok lar... Joking wif u oni...
2   2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   3   ham  U dun say so early hor... U c already then say...
4   4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

### b. Create and explore bigrams for the spam data. Visualize them with a word cloud. How do they compare with the ham bigrams?

##### Creating Clean Version of Data:

Needed:
- lower
- normalized
- remove weird characters
- tokenize? (what's the differnce between tokenizing and splitting?)
    - Look into what toktok actually does.
- removing stop words
- stemming/lemmatization

In [5]:
def clean_text_list(df, column, extra_words = [], exclude_words = []):
    #creating the string object:
    
    #lowercases all letters in the string:
    string = string.lower()
    #Removes any special characters and normalizes them into their regular forms:
    string = unicodedata.normalize('NFKD', string).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    #Replaces anything that is not a letter, number, whitespace, or single quote:
    string = re.sub(r"[^\da-z\'\s]", '', string)
    
    #Creating the tokenizer object:
    tokenizer = nltk.tokenize.ToktokTokenizer()
    #Usign the tokenizer on the string:
    string = tokenizer.tokenize(string, return_str=True)
    #Creating a list of stopwords from NLTK's standard list:
    stopword_list = stopwords.words('english')
    #Creating a list of words by splitting the string:
    words = string.split()
    #Saving words to list if they are not in stopword list:
    filtered_words = [w for w in words if w not in stopword_list]
    #Joining all words in list of non-stopwords:
    string_without_stopwords = ' '.join(filtered_words)
    #Creating the lemmatizer object:
    wnl = nltk.stem.WordNetLemmatizer()
    #Applying the lemmatizer to every word in the string:
    lemmas = [wnl.lemmatize(word) for word in string.split()]

In [6]:
clean_df.head()

,id,text,cleaned,stemmed,lemmatized
0,0,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...,go jurong point crazi avail bugi n great world...,"[go, jurong, point, crazy, available, bugis, n..."
1,1,Ok lar... Joking wif u oni...,ok lar joking wif u oni,ok lar joke wif u oni,"[ok, lar, joking, wif, u, oni]"
2,2,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...,free entri 2 wkli comp win fa cup final tkt 21...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,3,U dun say so early hor... U c already then say...,u dun say early hor u c already say,u dun say earli hor u c alreadi say,"[u, dun, say, early, hor, u, c, already, say]"
4,4,"Nah I don't think he goes to usf, he lives aro...",nah ' think goes usf lives around though,nah ' think goe usf live around though,"[nah, ', think, go, usf, life, around, though]"

#### Spam:

#### Ham:

#### Notes:

### c. Is there any overlap in the bigrams for the spam data and the ham data?

### d. Create and explore with trigrams (i.e. a n-gram with an n of 3) for both the spam and ham data.

## 2. Explore the blog articles using the techniques discussed in the exploration lesson.

## 3. Explore the news articles using the techniques discussed in the exploration lesson. Use the category variable when exploring.